.hero {
    background-image: url("../../Assets/Images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.box {
    background-image: url("../../Assets/Images/rect.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 70px;
}

.d-flex.cal {
    margin-left: 28%;
    padding-top: 18px;
}

p.power {
    padding-left: 19px;
}

.fx {
    border-radius: 10px;
    height: 6vh;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 32%;
}

.book {
    background-color: #8EC63F;
    margin-left: 35%;
}

button.btn.book.mt-3 {
    padding: 10px 32px;
    color: white;
    border-radius: 17px;
}

.go {
    font-family: Arial;
    font-size: 96px;
    font-weight: 700;
    line-height: 110.39px;
    text-align: left;
}

.fresh {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
}

.get {
    padding: 10px 26px;
    border-radius: 20px;
}

.our {
    border: 2px solid white;
    padding: 10px 26px;
    border-radius: 20px;
}

.our:hover {
    background-color: #8EC63F;
}

/* Navbar */
#navbarTogglerDemo03 {
    margin-left: 32%;
    margin-right: 4%;
}

a.in {
    text-decoration: none;
    color: white;
}

.navn {
    width: 60%;
    margin: auto;
    background-color: #8EC63F;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .d-flex.cal {
        margin-left: 20%;
        padding-top: 18px;
    }
}

@media (max-width: 991px) {
    .d-flex.cal {
        margin-left: 17%;
        padding-top: 36px;
    }
}

/* Ensure the navbar is flexibly aligned */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjust the alignment for medium, small, and extra-small screens */
@media (max-width: 991.98px) {
    .navbar-collapse {
        justify-content: flex-start;
    }

    .sgn.book.boook1 {
        order: 1;
        /* Ensure the SignIn button remains in place */
    }
}

/* Placeholder Color */
.fx::placeholder {
    color: white;
}