/* Hero section */
.hero {
    background-image: url("../../Assets/Images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

/* Box container */
.box {
    background-image: url("../../Assets/Images/rect.png");
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 70px;
    padding: 20px;
    /* Add padding for spacing */
}

/* Calendar flex container */
.d-flex.cal {
    margin-left: 28%;
    padding-top: 18px;
}

/* Power text */
p.power {
    padding-left: 19px;
}

/* Input fields */
.fx {
    border-radius: 10px;
    height: 6vh;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 32%;
}

.navn {
    background-color: #8EC63F;
    width: 80%;
    margin: auto;
}

a.nav-link {
    color: white;
}

button.btn.snf {
    background-color: white;
}

.in {
    text-decoration: none;
    color: #8EC63F;
}


button.btn.book.mt-3 {
    padding: 10px 32px;
    color: white;
    border-radius: 17px;
}

/* Go text */
.go {
    font-family: Arial;
    font-size: 96px;
    font-weight: 700;
    line-height: 110.39px;
    text-align: left;
}

/* Fresh text */
.fresh {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
}

/* Get button */
.get {
    padding: 10px 26px;
    border-radius: 20px;
    background-color: #8EC63F;
    color: white;
    border: none;
}

.get:hover {
    background-color: transparent;
    border: 2px solid white;
}

/* Our Menu button */
.our {
    border: 2px solid white;
    padding: 10px 26px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}

.our:hover {
    background-color: #8EC63F;
    border: none;
}


/* Navbar */
#navbarTogglerDemo03 {
    margin-left: 32%;
    margin-right: 4%;
}

/* SignIn Button */
.sgn.book {
    margin-left: auto;
    /* Align to the right */
}

/* Adjust the alignment for medium, small, and extra-small screens */
@media (max-width: 991.98px) {
    .sgn.book {
        margin-right: 10px;
        /* Add some margin to separate from other links */
    }
}

/* Placeholder Color */
.fx::placeholder {
    color: white;
}

/* Adjust layout for small screens */
@media (max-width: 768px) {
    .d-flex.cal {
        margin-left: 20%;
        padding-top: 18px;
    }

    .box {
        padding: 10px;
        /* Reduce padding */
    }

    .d-flex.flex-column.flex-md-row {
        flex-direction: column;
        /* Change to column layout on small screens */
    }

    .fx {
        margin-bottom: 10px;
        /* Add space between input fields */
    }

    .btn.book {
        margin-top: 10px;
        /* Add space above button */
    }
}

@media (max-width: 576px) {
    .go {
        font-family: Arial;
        font-size: 70px;
        font-weight: 700;
        line-height: 110.39px;
        text-align: left;
    }

}