.tablee {
    background-color: aqua;
    margin: auto;
    width: 60%;

}

.tablee {
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    backdrop-filter: blur(10px);
    /* Blur effect */
    padding: 20px;
    /* Padding inside the container */
    border-radius: 10px;
    /* Optional: Rounded corners */
    color: white;
    /* White text color */
    border: 2px solid #8ec63f;
}

.findd {
    background-color: #8ec63f;
    color: white;
}

.find:hover {
    background-color: transparent;
}