.tablee {
    background-image: url(../../Assets//Images/rect.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;

}


input.ispcc {
    border-radius: 12px;
    border: none;
    height: 5vh;
}

button.fndd {
    padding: 9px 22px;
    border: none;
    border-radius: 13px;
    background-color: #8EC63F;
    color: white;
    margin-top: 10px;
    margin-left: 32px;
}